body {
  overflow-x: hidden;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
p {
  font-family: lato;
}
#nav nav {
  background: #15181d;
  margin-bottom: 0;
}
#nav .navbar .navbar-nav > .nav-item {
  position: relative;
}
#nav .navbar .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  display: block;
  padding: 15px 17px;
  color: #0cb1df;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all linear .3s;
}
#nav .navbar .navbar-nav .nav-item .nav-link i {
  vertical-align: bottom;
  font-size: 18px;
  line-height: 13px;
}
#nav .navbar .navbar-nav .nav-item .nav-link:hover,
#nav .navbar .navbar-nav .nav-item .nav-link:focus {
  text-decoration: none;
  color: white;
  background-color: #111317;
  border: 1px solid #0cb1df;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
}
#nav .navbar .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 60px;
}
#nav .navbar .navbar-nav .nav-item ul {
  transition: all linear .3s;
  width: 220px;
  position: absolute;
  top: 70px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  margin: 0;
  background: #0f1114;
}
#nav .navbar .navbar-nav .nav-item ul li {
  border-bottom: 1px solid #08090b;
}
#nav .navbar .navbar-nav .nav-item ul li a {
  font-size: 13px;
  display: block;
  padding: 15px 15px;
  color: #0cb1df;
  text-transform: uppercase;
}
#nav .navbar .navbar-nav .nav-item ul li a:hover {
  text-decoration: none;
  color: white;
  background-color: #111317;
}
#nav .navbar .navbar-nav .nav-item .active {
  border: 1px solid #0cb1df;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
}
#side-menu {
  background: #15181d;
  color: white;
}
#side-menu .nav-link {
  color: white;
  border-bottom: 1px solid #ffffff21;
  font-weight: 400;
}
#side-menu .first {
  margin-top: 40px;
}
#side-menu li ul li a {
  color: #f5f5f5;
  margin-left: 18px;
  display: block;
  padding: 8px 0px;
  border-bottom: 1px solid #ffffff12;
}
#banner .container-out {
  width: 100%;
  overflow: hidden;
}
#banner .slider-body {
  width: 100%;
  overflow: hidden;
  height: 94vh;
  position: relative;
}
#banner .slider-body .content {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 20%;
  width: 700px;
  padding-bottom: 50px;
  transform: translateY(-50%);
}
#banner .slider-body .content h3 {
  font-size: 60px;
  color: #ffffff;
  margin: 0 0 0.35em;
}
#banner .slider-body .content p {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.6em;
  font-family: lato;
  margin-bottom: 2.5em;
}
#banner .slider-body .content a {
  border: 1px solid #0cb1df;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all linear .3s;
  font-size: 15px;
  line-height: 15px;
  background-image: linear-gradient(to left, #0ca9d5 0%, #3ad4ff 50%, #2e68c7 100%);
  font-weight: 600;
}
#banner .slider-body .content a:hover {
  background-image: linear-gradient(to left, #36d3ff 0%, #00c7ff 50%, #2e68c7 100%);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#banner .owl-carousel .owl-dot,
#banner .owl-carousel .owl-nav .owl-next,
#banner .owl-carousel .owl-nav .owl-prev {
  color: #ffffff;
  border-radius: 0;
}
#banner .owl-carousel .owl-dot,
#banner .owl-carousel .owl-nav .owl-next span,
#banner .owl-carousel .owl-nav .owl-prev span {
  font-size: 70px;
  line-height: 0;
  display: block;
  background-image: linear-gradient(to left, #0ca9d5 0%, #3ad4ff 50%, #2e68c7 100%);
  border: 1px solid #0cb1df;
  padding: 70px 6px;
  padding-top: 50px;
}
#banner .owl-nav {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: white;
}
#banner .owl-carousel .owl-nav button.owl-next {
  float: right;
}
#banner .owl-carousel .owl-nav button.owl-prev {
  float: left;
}
.section-title {
  text-align: center;
  margin-bottom: 75px;
}
.section-title span {
  font-size: 18px;
  color: #0cb1df;
  text-transform: uppercase;
}
.section-title h2 {
  font-size: 32px;
  line-height: 1em;
  color: #0cb1df;
  margin: 0;
  padding: 0.28em 0 0.6em;
  position: relative;
  text-transform: capitalize;
}
.section-title h2::before {
  content: ;
  background-color: #0cb1df;
  width: 70px;
  height: 7px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
#education {
  background: #15181d url(https://jaago.com.bd/wp-content/uploads/2017/02/cta-bg.png) center center / auto no-repeat local;
  padding: 75px 0px;
}
#education .vc_single_image-wrapper img {
  width: 458px;
  height: 376px;
}
#education .cta-details h2 {
  color: #fff;
  font-size: 30px;
  margin: 0 0 1em;
}
#education .cta-details p {
  font-size: 16px;
  color: #9da1a9;
  margin: 0 0 2.5em;
}
#education .cta-details a {
  border: 1px solid #0cb1df;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all linear .3s;
  font-size: 15px;
  line-height: 15px;
  background-image: linear-gradient(to left, #0ca9d5 0%, #3ad4ff 50%, #2e68c7 100%);
  font-weight: 600;
}
#education .cta-details a:hover {
  background-image: linear-gradient(to left, #36d3ff 0%, #00c7ff 50%, #2e68c7 100%);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#sponsor {
  background-color: #0cb1df;
  overflow: hidden;
}
#sponsor .donation-details {
  background: url(https://jaago.com.bd/wp-content/uploads/2018/01/2nd-section-kids.jpg) center center / cover no-repeat local;
  position: relative;
  overflow: hidden;
}
#sponsor .donation-details .contents {
  padding-left: 150px;
}
#sponsor .donation-details:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
#sponsor .donation-details {
  padding: 200px 30px;
}
#sponsor .donation-details h2 {
  font-size: 36px;
  color: #fff;
  margin: 0 0 0.28em;
  position: relative;
  z-index: 1;
}
#sponsor .donation-details p,
#sponsor .donation-details span,
#sponsor .donation-details a {
  position: relative;
  z-index: 1;
}
#sponsor .donation-details h2,
#sponsor .donation-details span {
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
}
#sponsor .donation-details p {
  color: #ffffff;
  margin: 0 0 2.2em;
}
#sponsor .donation-details .theme-btn-s2 {
  border: 1px solid #0cb1df;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all linear .3s;
  font-size: 15px;
  line-height: 15px;
  background-image: linear-gradient(to left, #0ca9d5 0%, #3ad4ff 50%, #2e68c7 100%);
  font-weight: 600;
}
#sponsor .donation-details .theme-btn-s2:hover {
  background-image: linear-gradient(to left, #36d3ff 0%, #00c7ff 50%, #2e68c7 100%);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#sponsor .donation-meter-details > div {
  display: inline-block;
  text-align: center;
}
#sponsor .urgent-donation-s2 .donation-meter-details .meter2 {
  width: 60%;
  position: relative;
}
#sponsor .progress-bar {
  background: transparent;
}
#sponsor .progress-bar span {
  background: #0cb1df;
}
#sponsor .sponsor-btn {
  border: 1px solid #ffffff;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all linear .3s;
  font-size: 15px;
  line-height: 15px;
  background-image: linear-gradient(to left, #0ca9d5 0%, #3ad4ff 50%, #2e68c7 100%);
  font-weight: 600;
  margin-left: 255px;
  margin-top: 30px;
}
#sponsor .sponsor-btn:hover {
  background-image: linear-gradient(to left, #36d3ff 0%, #00c7ff 50%, #2e68c7 100%);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#sponsor .progress-bar {
  margin: 0;
}
#sponsor .donation-meter-details .contents {
  overflow: visible;
  width: 400px;
  position: relative;
  height: 300px;
  margin-left: 150px;
  color: white;
  margin-top: 150px;
}
#sponsor .donation-meter-details .contents .raised {
  position: absolute;
  left: 0;
  bottom: 0;
}
#sponsor .donation-meter-details .contents .progress-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#sponsor .donation-meter-details .contents .goal {
  position: absolute;
  right: 0;
  bottom: 0;
}
#lattest-update {
  display: block;
  padding: 75px 0px 45px;
}
#lattest-update .up-body {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
#lattest-update .up-body .up-img {
  display: block;
  overflow: hidden;
  border-radius: 6px;
  border-top-left-radius: 20px;
}
#lattest-update .up-body a {
  cursor: pointer;
}
#lattest-update .up-body .up-det {
  display: block;
  padding: 20px;
  box-shadow: 0 0 25px 0 #dbdbdb;
  border-bottom-right-radius: 20px;
}
#lattest-update .up-body .up-det h3 {
  font-size: 18px;
  margin: 0 0 0.5em;
}
#lattest-update .up-body .up-det p {
  font-size: 13px;
  margin-right: 5px;
  padding-right: 5px;
}
#lattest-update .up-body .up-det a {
  font-size: 16px;
  color: #0cb1df;
}
#lattest-update .update-details span {
  display: block;
}
#lattest-update .update-details p {
  text-align: justify;
  padding: 30px 0px;
}
#lattest-update .update-details .col-4 {
  margin-bottom: 30px;
}
#testimonial {
  padding: 75px 0px;
}
#testimonial .testimonial {
  margin: 50px 0 0;
  border: 1px solid #fff;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  background-color: white;
  padding: 70px 30px 9px 30px;
}
#testimonial .testimonial .image {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -50px;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  border: 5px solid #f2f2f2;
}
#testimonial .testimonial .image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
#testimonial .testimonial .title {
  font-size: 16px;
  font-weight: 700;
  color: #0cb1df;
  text-transform: capitalize;
  margin: 4px 0 5px 0;
}
#testimonial .testimonial .post {
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin-bottom: 15px;
}
#testimonial .testimonial .description {
  font-size: 14px;
  color: #7b7b7b;
  line-height: 25px;
}
#contact-us {
  padding: 75px 0px;
  background: #f5f5f5;
}
#contact-us .join-us {
  background: url(https://jaago.com.bd/wp-content/uploads/2017/02/join-us-bg-1.jpg) center center / cover no-repeat local;
  height: 484px;
  position: relative;
}
#contact-us .join-us:before {
  content: "";
  background-color: rgba(12, 177, 223, 0.45);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#contact-us .join-us span {
  background: url('../images/banner/slider1.jpg') center center / cover no-repeat local;
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  box-sizing: border-box;
}
#contact-us .signup {
  height: 482px;
  padding: 85px 25px 85px 100px;
  width: 585px;
}
#contact-us .signup h3 {
  color: #0cb1df;
  margin: 0 0 0.4em;
  position: relative;
}
#contact-us .signup h3 span {
  position: absolute;
  left: -48px;
  font-size: 17px;
  color: #0cb1df;
  font-weight: bold;
  display: block;
  margin-bottom: 1.44em;
}
#contact-us .signup span {
  font-size: 17px;
  color: #0cb1df;
  font-weight: bold;
  display: block;
  margin-bottom: 1.44em;
}
#contact-us .signup p {
  margin: 0 0 1.83em;
  color: #6b7483;
}
#contact-us .signup a {
  border: 1px solid #0cb1df;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all linear .3s;
  font-size: 15px;
  line-height: 15px;
  background-image: linear-gradient(to left, #0ca9d5 0%, #3ad4ff 50%, #2e68c7 100%);
  font-weight: 600;
}
#contact-us .signup a:hover {
  background-image: linear-gradient(to left, #36d3ff 0%, #00c7ff 50%, #2e68c7 100%);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#header {
  background: linear-gradient(135deg, #021b79 0%, #086cde 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#021b79', endColorstr='#086cde', GradientType=1);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#header .top-head {
  width: 100%;
  overflow: hidden;
  padding: 125px 0px;
  color: #ffffff;
}
#header .top-head .page-heading h1 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
  font-family: poppins;
}
#header .top-head .bread-cumb {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
#header .top-head .bread-cumb ul {
  overflow: hidden;
  margin-bottom: 0;
  width: 175px;
  margin-left: 50%;
  transform: translateX(-50%);
}
#header .top-head .bread-cumb ul li {
  float: left;
  margin-right: 20px;
  position: relative;
}
#header .top-head .bread-cumb ul li:before {
  width: 5px;
  content: '/';
  height: 100%;
  position: absolute;
  right: -14px;
  top: 0;
  color: #0396ff;
}
#header .top-head .bread-cumb ul li a {
  font-size: 18px;
  transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
}
#about-us {
  padding: 75px 0px;
  background: #fff;
}
#about-us .left-img {
  overflow: hidden;
}
#about-us .left-img img {
  width: 100%;
}
#about-us .section-title {
  margin-bottom: 25px;
}
#about-us .content {
  width: 100%;
  overflow: hidden;
  padding-bottom: 23px;
}
#about-us .content p {
  margin: 0 0 15px;
  font-family: lato;
}
#about-us .content a {
  display: inline-block;
  border: 1px solid #0cb1df;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all linear .3s;
  font-size: 15px;
  line-height: 15px;
  background-image: linear-gradient(to left, #0ca9d5 0%, #3ad4ff 50%, #2e68c7 100%);
  font-weight: 600;
}
#about-us .content a:hover {
  background-image: linear-gradient(to left, #36d3ff 0%, #00c7ff 50%, #2e68c7 100%);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.advisor-body {
  background: #fff;
}
.advisor-body .owl-carousel .owl-item {
  padding: 0px 15px;
}
.contact-page-content-area {
  padding: 153px 0 120px 0;
}
.contact-page-content-area .single-contact-info-box {
  position: relative;
  text-align: center;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.contact-page-content-area .single-contact-info-box:hover {
  border-color: #0cb1df;
}
.contact-page-content-area .single-contact-info-box .icon {
  position: absolute;
  left: 50%;
  top: -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 70px;
  text-align: center;
  background-color: #0cb1df;
  color: #ffffff;
  -ms-transform: translateX(-50%);
  /* IE 9 */
  -webkit-transform: translateX(-50%);
  /* Chrome, Safari, Opera */
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.contact-page-content-area .single-contact-info-box .content {
  padding: 60px 30px 25px 30px;
}
.contact-page-content-area .single-contact-info-box .content .details {
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: #7b7b7b;
}
.contact-area .contact-bottom-inner .form-content-area {
  padding: 60px 60px 70px 60px;
  background-color: white;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(139, 139, 139, 0.2);
  box-shadow: 0px 8px 30px 0px rgba(139, 139, 139, 0.2);
  border-radius: 5px;
  background-color: #fff;
}
.contact-area .contact-bottom-inner .form-content-area .title {
  font-size: 40px;
  line-height: 50px;
  color: #0f0f1b;
  margin-bottom: 40px;
}
#contact-form {
  background: #fff;
}
#map {
  margin-bottom: 5px;
  overflow-x: hidden;
}
#contact-body {
  margin: 75px 0px;
}
#contact-body .form-body {
  background: #fff;
  padding: 30px 100px;
}
#contact-body .form-body .section-title {
  position: relative;
  padding-bottom: 35px;
}
#contact-body .form-body .section-title:before {
  width: 70%;
  content: '';
  background: gray;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#contact-body .form-body input {
  background-color: #e6e6e6;
  height: auto;
  border: 0 !important;
  padding: 15px 25px;
  box-shadow: none;
  margin-bottom: 30px;
}
#contact-body .form-body textarea {
  background-color: #e6e6e6;
  height: auto;
  border: 0 !important;
  padding: 15px 25px;
  box-shadow: none;
  margin-bottom: 30px;
  height: 158px;
}
#contact-body .form-body button {
  display: inline-block;
  border: 1px solid #0cb1df;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all linear .3s;
  font-size: 15px;
  line-height: 15px;
  background-image: linear-gradient(to left, #0ca9d5 0%, #3ad4ff 50%, #2e68c7 100%);
  font-weight: 600;
}
#contact-body .form-body button:hover {
  background-image: linear-gradient(to left, #36d3ff 0%, #00c7ff 50%, #2e68c7 100%);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#resigtration {
  margin: 75px 0px;
}
#resigtration .top {
  overflow: hidden;
  padding: 0px 30px;
  padding-top: 75px;
  background: #fff;
}
#resigtration .top h2 {
  font-size: 16px;
  word-wrap: break-word;
  color: #0cb1df;
  font-weight: 700;
  margin: 0 0px 26px 0px;
  position: relative;
  padding: 0;
  text-transform: uppercase;
  padding-left: 15px;
}
#resigtration .top h2:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 18px;
  margin-top: 3px;
  background: #0cb1df;
  top: 0%;
  left: 0;
}
#resigtration .top h5 {
  font-size: 24px;
  word-wrap: break-word;
  color: #000000;
  font-weight: 300;
  margin: 0 0 10px 0;
}
#resigtration .top p {
  font-size: 14px;
  word-wrap: break-word;
  color: #959595;
  font-weight: normal;
  text-transform: none;
  line-height: 22px;
  margin-top: 22px;
}
#resigtration form {
  background: #fff;
  padding: 30px;
}
#resigtration form label {
  display: block;
  line-height: 1.3;
  clear: both;
  font-weight: 700;
  font-size: inherit;
  max-width: 100%;
  margin-bottom: 5px;
  font-family: poppins;
  color: #777;
}
#resigtration form input,
#resigtration form select {
  width: 100%;
  color: #3f3f40;
  border: 2px solid #0cb1df !important;
  font-weight: 500 !important;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  color: #777;
  font-family: lato;
}
#resigtration form button {
  display: inline-block;
  border: 1px solid #0cb1df;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all linear .3s;
  font-size: 15px;
  line-height: 15px;
  background-image: linear-gradient(to left, #0ca9d5 0%, #3ad4ff 50%, #2e68c7 100%);
  font-weight: 600;
  margin-top: 30px;
}
#resigtration form button:hover {
  background-image: linear-gradient(to left, #36d3ff 0%, #00c7ff 50%, #2e68c7 100%);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#footer {
  background: #15181d;
  color: #ffffff;
  padding-top: 75px;
}
#footer .footer-area {
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #191717;
  padding: 100px 0 0px 0;
}
#footer .footer-area .footer-wrap {
  padding-bottom: 100px;
}
#footer .footer-area .footer-wrap .footer-widget.contact-info .widget-body ul {
  margin: 0;
  padding: 0;
}
#footer .footer-area .footer-wrap .footer-widget.contact-info .widget-body ul li {
  display: block;
  margin-bottom: 22px;
}
#footer .footer-area .footer-wrap .footer-widget.contact-info .widget-body ul li:hover .icon {
  color: #0BB0DE;
}
#footer .footer-area .footer-wrap .footer-widget.contact-info .widget-body ul li:hover .content .details {
  color: #0BB0DE !important;
}
#footer .footer-area .footer-wrap .footer-widget.contact-info .widget-body ul li.contact-info-item {
  position: relative;
}
#footer .footer-area .footer-wrap .footer-widget.contact-info .widget-body ul li.contact-info-item .icon {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#footer .footer-area .footer-wrap .footer-widget.contact-info .widget-body ul li.contact-info-item .content {
  padding-left: 25px;
}
#footer .footer-area .footer-wrap .footer-widget.contact-info .widget-body ul li.contact-info-item .content .details {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#footer .footer-area .footer-wrap .footer-widget.about .footer-logo {
  margin-bottom: 25px;
}
#footer .footer-area .footer-wrap .footer-widget.about .footer-social {
  margin: 23px 0 0 0;
  padding: 0;
}
#footer .footer-area .footer-wrap .footer-widget.about .footer-social li {
  float: left;
  margin-right: 10px;
}
#footer .footer-area .footer-wrap .footer-widget.about .footer-social li:first-child {
  margin-left: 0;
}
#footer .footer-area .footer-wrap .footer-widget.about .footer-social li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  float: left;
}
#footer .footer-area .footer-wrap .footer-widget.about .footer-social li a:hover {
  background-color: #0BB0DE;
  color: #fff;
}
#footer .footer-area .footer-wrap .footer-widget .widget-title .title {
  font-size: 21px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 22px;
}
#footer .footer-area .footer-wrap .footer-widget .widget-body p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 26px;
}
#footer .footer-area .footer-wrap .footer-widget .widget-body ul li {
  display: block;
  margin: 12px 0;
}
#footer .footer-area .footer-wrap .footer-widget .widget-body ul li a {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#footer .footer-area .footer-wrap .footer-widget .widget-body ul li a:hover {
  color: #0BB0DE;
}
#footer .footer-area .copyright-area {
  background-color: #191717;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  text-transform: capitalize;
}
#footer p {
  margin-top: 30px;
}
#footer .widget-body .footer-links a {
  margin-top: 30px;
  color: #0cb1df;
  margin-left: 10px;
}
#footer .widget-body .footer-links a:hover {
  color: #ffffff;
  text-decoration: none;
}
#footer .contact-info-item {
  margin-top: 10px;
}
#footer .contact-info-item .icon {
  margin-right: 10px;
}
#footer .copyright-area {
  padding: 10px 0px;
}
