.brand {
  color: #ff2d20;
}
a:hover {
  text-decoration: none;
}
.br {
  border: 1px solid red;
}
#header {
  height: 50vh;
}
#header .logo {
  position: absolute;
  top: 150px;
  width: 100%;
  left: 0;
  overflow: hidden;
}
#header .logo img {
  width: 200px;
}
#nav {
  margin-top: 5px;
  background: white;
  padding-top: 5px;
  text-align: center;
}
#nav ul {
  display: inline-block;
  margin: 0;
}
#nav ul li {
  float: left;
  margin: 0px 15px;
  position: relative;
}
#nav ul li a {
  display: inline-block;
  color: black;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px 5px 20px;
  transition: all linear 0.3s;
  font-family: 'Raleway';
}
#nav ul li a:hover {
  color: #ff2d20;
}
#nav ul li i {
  color: #ff2d20;
  font-size: 20px;
  float: left;
  line-height: 65px;
}
#nav ul li:hover ul {
  opacity: 1;
  z-index: 9999;
}
#nav ul li ul {
  position: absolute;
  opacity: 0;
  top: 100%;
  border: 1px solid red;
  left: -30px;
  display: inline-block;
  margin: 0;
  background: white;
  width: 200px;
}
#nav ul li ul li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5;
  padding: 5px;
}
#nav ul li ul li a {
  display: block;
  padding: 5px;
  border-bottom: 1px solid gray;
}
#nav ul li ul li:last-child a {
  border-bottom: 0;
}
#menu {
  margin-top: 5px;
}
#menu .left-nav {
  padding-top: 50px;
}
#menu .left-nav li i {
  float: left;
  color: #ff2d20;
  font-size: 20px;
  padding-top: 5px;
  padding-right: 5px;
}
#menu .left-nav li a {
  font-weight: 600;
  font-family: 'Pt Sans';
  text-transform: capitalize;
  color: black;
  padding: 7px 0px;
  display: block;
  transition: all linear 0.3s;
}
#menu .left-nav li a:hover {
  color: #ff2d20;
}
#menu .resource-body {
  padding-top: 50px;
  padding-left: 20px;
}
#menu .resource-body h2 {
  text-transform: capitalize;
  font-family: 'Pt Sans';
  padding-bottom: 20px;
  font-size: 24px;
}
#menu .resource-body h2 i {
  float: left;
  color: #ff2d20;
  padding-right: 10px;
}
#menu .resource-body p {
  padding-left: 45px;
  padding-bottom: 20px;
}
#menu .resource-body a {
  transition: all linear 0.3s;
}
#menu .resource-body a:hover {
  color: red;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 70px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
