.brand {
    color: #ff2d20;
}

a:hover {
    text-decoration: none;
}

.br {
    border: 1px solid red;
}

#header {
    height: 50vh;

    .logo {
        position: absolute;
        top: 150px;
        width: 100%;
        left: 0;
        overflow: hidden;

        img {
            width: 200px;
        }
    }
}

#nav {
    margin-top: 5px;
    background: white;
    padding-top: 5px;
    text-align: center;

    ul {
        display: inline-block;
        margin: 0;

        li {
            float: left;
            margin: 0px 15px;

            a {
                display: inline-block;
                color: black;
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
                padding: 20px 5px 20px;
                transition: all linear .3s;
                font-family: 'Raleway';

                &:hover {
                    .brand;
                }
            }

            i {
                .brand;
                font-size: 20px;
                float: left;
                line-height: 65px;
            }

            position: relative;

            &:hover ul {
                opacity: 1;
                z-index: 9999;
            }

            ul {
                position: absolute;
                opacity: 0;
                top: 100%;
                border: 1px solid red;
                left: -30px;
                display: inline-block;
                margin: 0;
                background: white;
                width: 200px;

                li {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 5;
                    padding: 5px;

                    a {
                        display: block;
                        padding: 5px;
                        border-bottom: 1px solid gray;
                    }

                    &:last-child a {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

#menu {
    margin-top: 5px;

    .left-nav {
        padding-top: 50px;

        li {
            i {
                float: left;
                .brand;
                font-size: 20px;
                padding-top: 5px;
                padding-right: 5px;
            }

            a {
                font-weight: 600;
                font-family: 'Pt Sans';
                text-transform: capitalize;
                color: black;
                padding: 7px 0px;
                display: block;
                transition: all linear .3s;

                &:hover {
                    .brand;
                }
            }
        }
    }

    .resource-body {
        padding-top: 50px;
        padding-left: 20px;
            h2 {
                i {
                    float: left;
                    .brand;
                    padding-right: 10px;
                }

                text-transform: capitalize;
                font-family: 'Pt Sans';
                padding-bottom: 20px;
                font-size: 24px;
            }

            p {
                padding-left: 45px;
                padding-bottom: 20px;
            }

            a {
                transition: all linear .3s;

                &:hover {
                    color: red;
                }
            }
        }
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 70px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }